{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static 'common/bootstrap/css/bootstrap.min.css' %} "/>
    <link rel="stylesheet" href=" {% static 'starks/col.css' %} "/>
    <script type="text/javascript" src="{% static 'common/jquery/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>
    <title>List</title>
</head>
<body>
<div class="container">
    <h2>删除</h2>
    <div class="row col-md-2">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <button class="btn btn-danger">确认删除</button>
        <a href="{{ back_url }}"><button class="btn btn-info" type="button">取消</button></a>
    </form>
        </div>
</div>

</body>
</html>