{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static 'common/bootstrap/css/bootstrap.min.css' %} "/>
    <script type="text/javascript" src="{% static 'common/jquery/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>
    <title>List</title>
</head>
<body>
<div class="container">
    <h2>{{ st }}</h2>
    <div class="row pull-right">
        <a href="{{ add_url }}">
            <button class="btn btn-primary">增加</button>
        </a>
    </div>
    <!--搜索框-->
    <div class="row">
        {% if vsl.stark_model_admin.search_fields %}
            <div class="col-lg-3 col-md-3">
                <form action="" method="POST" novalidate>
                    <div class="input-group" style="margin-bottom: 20px">

                        {% csrf_token %}
                        <input type="text" class="form-control" name="search_field" placeholder="Search for...">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜索</button>
      </span>


                    </div>
                </form>
            </div>
        {% endif %}
        <!--表单-->
    </div>

    <div class="row">
        <form action="" method="POST" novalidate>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="input-group" style="margin-bottom: 20px">

                        {% csrf_token %}
                        <select name="action" id="" class="form-control">
                            {% for opt in vsl.get_actions %}
                            <option value="{{ opt.name }}">{{ opt.desc }}</option>

                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
        <button class="btn btn-danger" type="submit">批量操作</button>
      </span>


                    </div>

                </div>
            </div>
            <!--数据列表-->
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    {% for h in vs.get_table_header %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% for item in vsl.get_table_body %}
                    <tr>
                        {% for itemCol in item %}
                            <td>{{ itemCol }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
    </div>
    <div class="row pull-right">
        <nav aria-label="Page navigation">
            <ul class="pagination ">
                {{ vsl.get_page|safe }}
            </ul>
        </nav>
    </div>

</div>

<script>
    //checkbox all opt
    $(".cb-all").click(function () {
        //$(".cb-item").select;
        if ($(this).prop("checked")) {
            $(".cb-item").prop("checked", true);

        } else {
            $(".cb-item").prop("checked", false);
        }
    });
</script>
</body>
</html>